div{
	background-color: #848484;
	width:120px;
	height:120px;
	margin-bottom: 5px;
	border:solid 1px #000000;
}
.costado{
	position: absolute;
	top: 260px;
	bottom: 0px; 
	right: 0px;
	left: 150px;
	} 

.caja_padre{
	width:420px;
	height: 120px;
	border:solid 1px #000000;
	position: absolute;
}
.hijo1{
	border:solid 1px #000000;
	left: 11px;
	position: absolute;
	margin-rigth: 10px;
}
.hijo2{
	border:solid 1px #000000;
	left: 130px;
	position: absolute;
	margin-rigth:10px;

}
.hijo3{
	border:solid 1px #000000;
	left: 250px;
	position: absolute;
	margin-rigth: 10px;

}

/*.1 .2 .3{
	display: block;
}*/